@import url("https://fonts.googleapis.com/css2?family=Bungee&family=Indie+Flower&family=Lora:wght@400;500;600&family=Love+Light&family=Moon+Dance&family=Roboto+Slab&family=Rowdies&family=Source+Sans+Pro:wght@300&family=Syne+Tactile&family=Titillium+Web&family=Vujahday+Script&display=swap");
* {
  padding: 0;
  margin: 0;
}

body {
  min-height: 100%;
  font-family: 'Roboto Slab', serif;
  background-color: purple;
}

.maindiv {
  min-height: 100vh;
  width: 100%;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.maindiv .container {
  position: relative;
  top: 2rem;
  margin: auto;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(255, 255, 255, 0.7);
  min-height: 30rem;
  width: 90%;
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
  border: 1px solid;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

.maindiv .container .title {
  font-size: xx-large;
  padding: 1rem;
  font-family: 'Syne Tactile', cursive;
  background-color: #ff1717;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-bottom: 2px solid black;
}

.maindiv .container .inputfield {
  font-size: large;
  padding: .7rem;
  margin: 0.5rem 1rem;
  outline: none;
  border-radius: 0.5rem;
  border: wheat;
  width: 60%;
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  background-color: rgba(255, 255, 255, 0.3);
}

.maindiv .container .inputfield::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.maindiv .container .inputfield:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.maindiv .container .inputfield::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.maindiv .container .inputfield::placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.maindiv .container .addbtn {
  padding: .8rem;
  border-radius: 0.5rem;
  border: white;
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  background-color: rgba(255, 255, 255, 0.3);
}

.maindiv .container .addbtn:hover {
  cursor: pointer;
  background-color: #39eb39;
}

.maindiv .container .listbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: left;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem 0;
  cursor: default;
}

.maindiv .container .listdiv {
  width: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.maindiv .container .listdiv .list {
  width: 90%;
  word-break: break-all;
  border-radius: 0.5rem;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.maindiv .container .listdiv .list:hover {
  -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3), 3px -3px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3), 3px -3px 3px rgba(0, 0, 0, 0.3);
}

.maindiv .container .listdiv .list .listtext {
  padding: 0 0.5rem;
}

.maindiv .container .listdiv .list .listtext:hover {
  cursor: default;
}

.maindiv .container .listdiv .list .checkline {
  position: relative;
  padding: 0 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.maindiv .container .listdiv .list .checkline .checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: rgba(255, 255, 255, 0.4);
  outline: none;
  width: 40px;
  height: 20px;
  border-radius: 5rem;
  margin: auto;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
          box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.maindiv .container .listdiv .list .checkline .checkbox::before {
  content: "";
  padding: 0.5rem;
  position: absolute;
  top: 0.15rem;
  left: 0.6rem;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  background-color: #000000;
  border-radius: 50%;
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
          box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.maindiv .container .listdiv .list .checkline .checkbox:checked {
  background-color: red;
}

.maindiv .container .listdiv .list .checkline .checkbox:checked::before {
  left: 1.9rem;
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
}

.maindiv .container .crossbtn {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: white;
  margin: 0.5rem;
  -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
  background-color: rgba(255, 255, 255, 0.3);
}

.maindiv .container .crossbtn:hover {
  cursor: pointer;
  background-color: #ff1717;
}

@media (max-width: 600px) {
  .container {
    width: 50%;
  }
}
/*# sourceMappingURL=style.css.map */